* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 90%;
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px rgba(34, 0, 255, 0.1);
    border-radius: 40px;
    position: fixed;
    background-color: white;
    margin-top: 10px;
    z-index: 100;
}


nav div:nth-of-type(1) a {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
    color: black;
}

nav div:nth-of-type(2) a {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: black;
}

nav div {
    padding: 80px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right-nav a:hover {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.right-nav img {
    display: none;
}

#hamburger-div {
    height: 520px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50px;
    display: none;
    color: white;
    top: 100px;
    position: fixed;
}

#hamburger-div div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    gap: 70px;
}

#hamburger-div div a {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: black;
}

#hamburger-div div a:hover {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid grey;
    background-color: black;
    color: white;
    transition: 0.5s;
}

main {
    height: 2000px;
    width: 100%;
}

.home {
    background-image: url(image/background-home.png);
    height: 680px;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
}

.right-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.left-main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.left-main h1 {
    font-family: "Barlow";
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
    padding-left: 120px;
}

.left-main p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 800;
    line-height: 30px;
    text-align: left;
    max-width: 800px;
    padding-left: 120px;
    color: rgba(5, 46, 107, 1);

}

.right-main div {
    height: 550px;
    width: 80%;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}


.tour {
    height: 700px;
    width: 100%;
    background-image: url(image/background-tour.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tour h1 {
    font-family: "Inter";
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;

}

.container-card {
    display: flex;
    gap: 50px;
    align-items: center;
}

.card {
    width: 380px;
    align-items: center;
    padding: 10px;
    gap: 35px;
}

.card p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}

.card img {
    background-size: cover;
}

.inofation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.achivement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inofation h1 {
    font-family: "Barlow";
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
    padding-top: 30px;
}

.inner-inofation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.inner-inofation .image-1:hover {
    box-shadow: -15px 16px 5px 0px rgba(13, 86, 8, 0.75);
    -webkit-box-shadow: -15px 16px 5px 0px rgba(13, 86, 8, 0.75);
    -moz-box-shadow: -15px 16px 5px 0px rgba(13, 86, 8, 0.75);
    border-radius: 20px;
    transition: 0.5s;
}

.inner-inofation .image-2:hover {
    box-shadow: 16px 16px 5px 0px rgba(13, 86, 8, 0.75);
    -webkit-box-shadow: 16px 16px 5px 0px rgba(13, 86, 8, 0.75);
    -moz-box-shadow: 16px 16px 5px 0px rgba(13, 86, 8, 0.75);
    border-radius: 20px;
    transition: 0.5s;
}

.right-inovation p {
    max-width: 700px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.main-video {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-video div {
    width: 80%;
    height: 600px;
    background: rgba(217, 217, 217, 1);
    border-radius: 20px;
}

.form-1 {
    width: 80%;
    height: 700px;
    background-color: rgba(68, 120, 67, 1);
    border-radius: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.right-card {
    width: 45%;
    height: 100%;
    background-image: url(image/camat-setu.jpeg);
    border-radius: 0px 20px 20px 0px;
    background-size: cover;
    background-position: center;

}

.left-card {
    width: 55%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
}

.left-card h1 {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    max-width: 600px;
}

.left-card p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    max-width: 250px;
}

.left-card input {
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 20px;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: left;
}

.left-card button {
    background-color: rgba(255, 200, 7, 1);
    height: 65px;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-family: "Inter";
    font-size: 30px;
    font-weight: 400;
    line-height: 43.57px;
    text-align: center;
    color: rgba(68, 120, 67, 1);
}

.left-card button:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: 1s;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    width: 60%;
    height: 100px;
    background: rgba(68, 120, 67, 1);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width:1200px) {
    .container-card {
        flex-direction: column;
    }

    .card {
        width: 500px;
    }

    .card img {
        width: 450px;
        height: 350px;
    }

    .tour {
        height: 1700px;
    }

    .inner-inofation {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .inner-achivement {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }


    .inner-inofation img {
        width: 700px;
    }


}

@media (max-width:800px) {
    .right-nav a {
        display: none;
    }

    .right-nav img {
        display: block;
    }

    .home {
        flex-direction: column;
        height: 1000px;
        padding-bottom: 500px;
        padding-top: 20px;
        gap: 30px;
    }

    .left-main {
        margin-top: 100px;
    }

    .left-main h1 {
        padding-left: 80px;
    }

    .left-main p {
        padding-left: 80px;
    }

    .tour {
        height: 1700px;
        justify-content: center;
        gap: 50px;
    }

    .card {
        width: 380px;
    }

    .card img {
        width: 360px;
    }

    .inner-inofation img {
        width: 500px;
    }


}

@media (max-width:640px) {
    .left-main h1 {
        padding-left: 60px;
    }

    .left-main p {
        padding-left: 60px;
    }

    .inner-inofation img {
        width: 400px;
    }

    .right-card {
        display: none;
    }

    .form-1 {
        height: 750px;
    }

    .left-card {
        width: 100%;
    }

    .form-1 button {
        width: 100%;
    }

    .form-1 input {
        width: 100%;
    }


}

@media (max-width:500px) {
    .right-main div {
        height: 400px;
    }

    .inner-inofation img {
        width: 300px;
    }

    input {
        width: 400px;
    }
}